[submodule "benchmark/seceval"]
	path = benchmark/seceval
	url = https://github.com/XuanwuAI/SecEval.git
[submodule "benchmark/cybermetric"]
	path = benchmark/cybermetric
	url = https://github.com/cybermetric/CyberMetric.git
[submodule "benchmarks/cti_bench"]
	path = benchmarks/cti_bench
	url = https://github.com/xashru/cti-bench.git
